@charset "utf-8";

/*web font*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Jua&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&subset=korean');
@font-face { font-family: 'BBTreeCB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeCB.woff') format('woff'); font-weight: normal; font-style: normal; }


/*common*/
html,body{font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px; line-height: 1; color: #fff; width: 100%; text-align: center; letter-spacing: -0.02em;}
.inner{padding: 30px 20px; background-color: #03091d;}
.wide{padding-left: 0; padding-right: 0;}
.inner h2{text-align: left; font-size: 24px; margin-bottom: 50px;}
.wide h2{padding-left: 20px;}
.white{background: #fff;}
.white h2{color: #333;}

.bold{font-weight: 800;}
.regular{font-weight: 600;}
.red{color: #ff3f10;}
.green{color: #3c9742;}
.small{font-size: 10px;}


/* 메인 */
#main{background-color: #03091d; padding-bottom: 30px;}
#main .main_top{display: none;}
#main .main_info{margin-top: -120px;}
#main .main_info h1{display: inline-block; font-size: 40px; position: relative; margin-bottom: 35px; }
#main .main_info h1 em{font-size: 10px; font-weight: 300; position: absolute; bottom: -15px; right: 0; }
#main .main_info ul li{display: inline-block; line-height: 1.8em; margin: 0 14px; }
#main .main_info .bg_bl{display: inline-block; background: #000; line-height: 1.8em; padding: 0 10px; margin-bottom: 10px; }
#main .main_info .hashtag{margin-top: 30px; margin-bottom: 20px;}
#main .main_info .hashtag li{display: inline-block; border: 1px solid #fff; border-radius: 100px; line-height: 1.6em; padding: 0 10px; margin: 0 5px; font-size: 12px;}
#main .main_info .feature .ing{background: rgba(255,255,255,0.3); border-radius: 100px; padding: 0 10px;}
#main .main_info .score{margin-top:10px;}
#main .main_info .score li{margin: 0 8px;}
#main .main_info .score .star{margin: 0 10px;}
#main .main_info .synopsis{text-align: left; line-height: 1.5em; padding: 0 20px; margin-top: 50px; margin-bottom: 15px; overflow: hidden; height: 78px; }/* more 클릭 시 synopsis height값 100%; */
#main .more{border: 1px solid #fff; border-radius: 5px; display: block; padding: 15px; margin: 0 20px;}

/* 등장인물 */
#casting .inner{overflow: hidden;}
#casting .inner > div{overflow: hidden;}
#casting .inner > div:first-of-type{margin-bottom: 50px; }
#casting .img{width:52%; border-radius: 50%; overflow: hidden; float: left;}
#casting .img img{display: block;}
#casting .profile{width: 48%; text-align: left; display: inline-block; padding-left: 10px;}
#casting .profile h3{font-size: 20px; font-weight: 600;}
#casting .profile p{line-height: 1.4em;}
    
/* 예고편 */
#trailer h2{margin: 0; height: 40px; line-height: 40px; background: #000; margin-top: -1px;}
#trailer .video_wrap{padding-bottom: 40px; background: #000;}
    
/* 스틸컷 */
#stillcut .slick-slide{opacity: 0.5; transform: scale(0.9); transition: all .3s;}
#stillcut .slick-current{opacity: 1; transform: scale(1);}
    
/* 인터뷰 */
#interview .talk_wrap{background-color: #e4e4e4; border: 1px solid #fff; border-radius: 25px; overflow: hidden; color: #333; padding: 20px; }
#interview .talk_wrap .talker ~ .talker{margin-top: 25px;}
#interview .talk_wrap img{width: 30px;}
#interview .talk_wrap p{background: #fff; display: inline-block; padding: 9px; border-radius: 25px;}
#interview .smile{text-align: left; overflow: hidden;}
#interview .smile img{float: left;}
#interview .smile p{float: left; margin-left: 10px; font-weight: 600;}

#interview .answer{text-align: right; overflow: hidden;}
#interview .answer span{font-size: 16px; line-height: 30px; margin-right: 5px; font-weight: 600; color: #e73b49; display: inline-block; min-width: 203px;}
#interview .answer.yong span{color: #09509f;}
#interview .answer img{float: right;}
#interview .answer p{float: right; border-top-right-radius: 0; margin-top: 5px; line-height: 1.2em; font-size: 12px; }

/* 한줄평 */
#review .rolling{overflow: hidden; margin-bottom: 30px; position: relative;}/* rolling area */
#review .rolling li{overflow: hidden; float: left; display: inline-block; margin-right: 20px;}
#review .rolling li img{float: left; width: 50px; margin-right: 15px;}
#review .rolling li p{float: left; font-size: 30px; font-weight: 600; position: relative;}
#review .rolling li p span{font-size: 10px; font-weight: 300; position: absolute; right: 0; bottom: -15px;}

/* 상영관 */
#theater p{text-align: left; margin-bottom: 30px; line-height: 1.5em;}

/* 땡스투 */
#thanks p{color: #333; text-align: left; line-height: 2em;}
#thanks p ~ p{margin-top: 20px; font-size: 11px;}
#thanks span{margin-right: 3px;}
#thanks .small{font-size: 10px}







/*keyframes*/
@keyframes line{
    0%{height: 0px; }
    30%{height: 600px; }
    50%{height: 600px;}
    75%{height: 600px;}
    100%{height: 600px;}
}

.test{font-family: 'BBTreeCB'; font-size: 80px;}


